@model List<WebApplicationHackathon.Models.Ingresante>
@{
    ViewData["Title"] = "Index Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="card">
    <div class="card-header">
        <h5>Lista de ingresantes total</h5>
    </div>
        <a class="btn btn-success btn-sm" asp-controller="Ingresante" asp-action="Ingresante_Registro">Funciona?</a>
    <hr />
<form method="get">
    <label for="selectedAge">Elegir edad:</label>
    <input type="number" id="selectedAge" name="selectedAge" />

    <label for="younger">Mayor:</label>
    <input type="checkbox" id="younger" name="younger" value="true" />

    <label for="older">Menor:</label>
    <input type="checkbox" id="older" name="older" value="true" />

    <br>
     <label for="selectedCountry">Elegir nacionalidad:</label>
     <input type="text" id="selectedCountry" name="selectedCountry" />

     <label for="selectedExperience">Elegir años de experiencia:</label>
     <input type="text" id="selectedExperience" name="selectedExperience" />

    <button type="submit">Filtrar</button>
</form>
<div>
    <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Dni</th>
                    <th>Nacionalidad</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model){
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.Edad</td>
                        <td>@item.Dni</td>
                        <td>@item.Nacionalidad</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
