@model WebApplicationHackathon.Models.Ingresante
@{
    ViewData["Title"] = "Ingresante_Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ingresante_Registro</h1>

<form method="post">

    <div class="mb-1">
        <label class="form-label" asp-for="Nombre">Nombre completo</label>
        <input class="form-control form-control-sm" asp-for="Nombre" type="text" />
    </div>

    <div class="mb-2">
        <label class="form-label" asp-for="Correo">Correo</label>
        <input class="form-control form-control-sm" asp-for="Correo" type="text" />
    </div>

    <div class="mb-2">
        <label class="form-label" asp-for="Dni">DNI</label>
        <input class="form-control form-control-sm" asp-for="Dni" type="text" />
    </div>

    <div class="mb-2">
        <label class="form-label" asp-for="Github">GitHub</label>
        <input class="form-control form-control-sm" asp-for="Github" type="text" />
    </div>

 

    <div class="mb-2">
        <label class="form-label" asp-for="AniosExperiencia">Años de Experiencia</label>
        <input class="form-control form-control-sm" asp-for="AniosExperiencia" type="number" />
    </div>

    <div class="mb-2">
        <label class="form-label" asp-for="ExperienciaLaboralNoIt">Experiencia Laboral no IT</label>
        <input class="form-control form-control-sm" asp-for="ExperienciaLaboralNoIt" type="number" />
    </div>

    <button type="submit" class="btn btn-primary">Registrar</button>
</form>